<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0zAZ0SObPVCnBTFAwzI9O-6wF1DzDOng</string>
	<key>GCM_SENDER_ID</key>
	<string>49430381094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imadlol.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-a1859</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-a1859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49430381094:ios:6eea55da638a8795839ce7</string>
</dict>
</plist>